/* General styles */
.public-nav-cont {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.public-nav-list {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.public-title-cont a {
    font-size: 32px;
    font-weight: bolder;
    color: #0A1B57;
}

/* Section 1 */
.public-button-cont {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.public-button-sect1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.public-button-sect2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    gap: 10px;
}

.public-nav-text {
    padding: 10px 20px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: #667085;
    transition: 0.1s ease-in-out;
}

.public-active-link {
    padding: 10px 20px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: #0E267C;
    transition: 0.1s ease-in-out;
}

.public-nav-text:hover {
    color: #0E267C;
    font-weight: bold;
    transition: 0.1s ease-in-out;
}

/* Button styles */
.public-download-btn, .public-login-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #0E267C;
}

.public-download-btn {
    background-color: #fff;
    color: #0E267C;
}

.public-download-btn:hover {
    background-color: #0A1B57;
    color: #fff;
}

.public-login-btn {
    background-color: #0E267C;
    color: #fff;
}

.public-login-btn:hover {
    background-color: #0A1B57;
}

/* Section 2 */
.public-title-app-cont {
    padding: 10px 20px;
    background-color: #0E267C;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.public-title-app a {
    font-size: 24px;
    font-weight: bolder;
    color: #fff;
    margin: 0 5px;
}

.public-title-app b {
    font-size: 20px;
    color: #D5652B;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .public-nav-text {
        font-size: 12px;
        width: 80px;
    }

    .public-active-link {
        font-size: 12px;
        width: 80px;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .public-nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .public-button-sect1 { 
        align-content: center;
    }

    .public-button-sect2 {
        justify-content: center;
        align-self: center;
    }

    .public-button-cont {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .public-button-sect1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .public-button-sect2 {
        margin-top: 10px;
        gap: 10px;
    }

    .public-login-btn {
        display: none;
    }

    .public-title-app a {
        font-size: 20px;
    }

    .public-title-app b {
        font-size: 18px;
    }

}
