.barangay-summary-chart-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    height: 300px;
    width: 650px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.barangay-summary-box {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 5px;
}

.barangay-summary-title {
    text-align: center;
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.barangay-summary-canvas {
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 260px;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .barangay-summary-chart-container {
        height: 249px;
        width: 650px;
    }
    .barangay-summary-canvas {
        max-width: 600px;
        max-height: 220px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .barangay-summary-chart-container {
        height: 210px;
        width: 500px;
    }
    .barangay-summary-canvas {
        max-width: 500px;
        max-height: 190px;
    }
}

/* For screen sizes 1800px and below */
@media (max-width: 1300px) {
    .barangay-summary-chart-container {
        height: 150px;
        width: 400px;
    }
    .barangay-summary-canvas {
        max-width: 400px;
        max-height: 135px;
    }
}