.home-container {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.home-title-bg {
    background-image: url('../../Assets/homebg.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-flex;
    align-items: end;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}

.home-content {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.home-tagline {
    color: #FFF;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .home-tagline {
        font-size: 45px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .home-tagline {
        font-size: 40px;
    }
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .home-tagline {
        font-size: 35px;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .home-title-bg {
        height: 300px;
        width: auto;
        background-size: cover;
        background-position: center;
    }

    .home-tagline {
        font-size: 1em;
        text-align: center;
    }
}
