.dashboard-container {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

.dashboard-content {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*Section 1 Reports*/
.dashboard-reports-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dashboard-reports-content {
    display: inline-flex;
    flex-direction: row;
    height: 87px;
    width: auto;
    padding: 10px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.accident-frame {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: #0E267C;
    padding: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 75px;
    width: 170px;
    border-radius: 20px;
}

.accident-frame:hover {
    background: #0A1B57;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.selected-frame {
    background: #040f3a;
}


.accident-icon {
    height: 75px;
    width: 75px;
}

.accident-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    height: auto;
    width: 100%;
}

.accident-content a {
    color: white;
}

.accident-content b {
    color: white;
    font-weight: bold;
}

/*Maps Section*/
.dashboard-maps-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dashboard-maps-content {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

#map {
    display: inline-flex;
    flex-direction: column;
    height: 750px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}

.marker-report-description {
    height: 75px;
    width: auto;
    text-align: justify;
    overflow: hidden;
}

.map-report-button {
    background-color: #0E267C;
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
}

.map-report-button:hover {
    background-color: #0A1B57;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Slightly transparent background */
    z-index: 2000;
}

.dashboard-controls {
    display: flex; /* Use flexbox for layout */
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
}

.toggle-button {
    background-color: #0E267C;
    color: white;
    border: none;
    padding: 5px 15px; /* Adjust padding */
    width: 100px; /* Set a fixed width */
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px; /* Adjust font size */
    text-align: center;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #0A1B57;
}

.map-legends {
    position: absolute;
    bottom: 40px;
    left: 10px;
    z-index: 1000;
    width: auto;
    height: auto;
}

.map-legends-box {
    background-color: #0A1B57;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    height: 110px;
}

.map-legends img {
    width: auto;
    height: 10em;
    display: block;
}

/*Report Modal*/
.dashboard-reports-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.dashboard-reports-modal-content {
    display: inline-flex;
    flex-direction: column;
    height: 40em;
    width: 50%;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}

.dashboard-reports-modal-content-box {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.dashboard-close-modal-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    font-weight: 900;
}

.dashboard-close-modal-button:hover {
    color: gray;
}

.dashboard-reports-title-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.dashboard-reports-title-box-text {
    font-size: 24px;
    font-weight: 300;
}

.dashboard-reports-details-container {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 5px;
}

.dashboard-reports-details-modal-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dashboard-reports-text-box {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.dashboard-reports-title-text {
    display: inline-flex;
    flex-direction: column;
    color: #000;
    font-size: 15px;
    padding: 5px;
    font-size: 15px;
    gap: 5px;
    width: 100%;
}

.dashboard-reports-content-text {
    color: #000;
    border-bottom: 2px solid gray;
    font-weight: bold;
    width: auto;
}

.dashboard-reports-description-box {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 50%;
}

.dashboard-reports-description-area {
    height: 17em;
    max-height: 100%;
    overflow-y: auto;
    width: auto;
    border-radius: 5px;
    border: 2px solid gray;
    padding: 7px;
    overflow-y: scroll;
}

.dashboard-reports-description-area::-webkit-scrollbar {
    width: 12px;
}

.dashboard-reports-description-area::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.dashboard-reports-description-area::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.dashboard-reports-description-area::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 6px;
}

.dashboard-description-title-text {
    font-weight: normal;
}

.dashboard-reports-description-area p {
    margin: 5px 0;
}

.dashboard-reports-image-box {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 18em;
    max-height: 100%;
    width: auto;
    border: 1px solid gray;
    border-radius: 5px;
    gap: 5px;
}

.dashboard-reports-image-box img {
    height: 165px;
    width: 185px;
    border-radius: 5px;
}

.dashboard-update-modal-button-box {
    display: inline-flex;
    flex-direction: row;
    justify-content: right;
    align-items: last baseline;
    gap: 20px;
    padding: 5px;
    height: 100%;
    width: 100%;
}

.dashboard-update-modal-button {
    background-color: #0E267C;
    height: 50px;
    width: 150px;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
}

.dashboard-update-modal-button:hover {
    background-color: #0A1B57;
}

.dashboard-deny-modal-button {
    background-color: red;
    height: 50px;
    width: 150px;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
}

.dashboard-deny-modal-button:hover {
    background-color: darkred;
}

/*End of Report Modal*/

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .accident-frame {
        width: 170px;;
        height: auto;
        margin-bottom: 10px;
    }

    .accident-title {
        font-size: 14px;
    }

    #map {
        height: 665.5px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .accident-frame {
        width: 150px;
        height: auto;
        margin-bottom: 10px;
    }

    .accident-title {
        font-size: 14px;
    }

    #map {
        height: 563px;
    }

    .dashboard-reports-image-box img {
        width: 170px;
    }
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .accident-frame {
        width: 120px;
        height: auto;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .accident-title {
        font-size: 11px;
    }

    .accident-icon {
        height: 50px;
        width: 50px;
    }

    #map {
        height: 437.5px;
    }

    /*Report Modal Content*/
    .dashboard-reports-modal-content {
        height: 505px;
        width: 800px;
    }

    .dashboard-reports-title-box-text {
        font-size: 16px;
    }

    .dashboard-reports-title-text {
        font-size: 12px;
    }

    .dashboard-reports-description-area {
        height: 185px;
        font-size: 12px;
    }

    .dashboard-reports-image-box {
        height: 200px;
    }

    .dashboard-reports-image-box img {
        width: 170px;
    }

    .dashboard-update-modal-button {
        height: 40px;
        width: 100px;
        font-size: 10px;
    }

    .dashboard-deny-modal-button {
        height: 40px;
        width: 100px;
        font-size: 10px;
    }
}