.dashboard-container {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

.dashboard-content {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dashboard-tooltip {
    position: relative;
    display: inline-block;
}

.dashboard-tooltip-icon {
    font-size: 24px;
}

.dashboard-tooltip:hover .dashboard-tooltip-icon {
    font-weight: bold;
    cursor: pointer;
}

.dashboard-tooltip-box {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    height: auto;
    width: 240px;
    background-color: #555;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 10000;
    bottom: -38px;
    left: 160px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.dashboard-tooltip-box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -18px;
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.dashboard-tooltip:hover .dashboard-tooltip-box {
    visibility: visible;
    opacity: 1;
}

.dashboard-tooltip-text {
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.dashboard-tooltip-sub-text {
    width: 100%;
    color: #fff;
    text-align: justify;
    font-size: 16px;
}

/*Map Tooltip*/
.dashboard-map-tooltip {
    position: relative;
    display: inline-block;
}

.dashboard-map-tooltip-icon {
    font-size: 24px;
    font-weight: 500;
}

.dashboard-map-tooltip:hover .dashboard-map-tooltip-icon {
    font-weight: bold;
    cursor: pointer;
}

.dashboard-map-tooltip-box {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    width: 240px;
    gap: 10px;
    background-color: #555;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10000;
    bottom: -85px;
    left: -135px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.dashboard-map-tooltip-box::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.dashboard-map-tooltip:hover .dashboard-map-tooltip-box {
    visibility: visible;
    opacity: 1;
}

.dashboard-map-tooltip-text-box {
    display: flex;
    flex-direction: column;
}

.dashboard-map-tooltip-text {
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.dashboard-map-tooltip-sub-text {
    width: 100%;
    color: #fff;
    text-align: justify;
    font-size: 16px;
}

/*Modal Tooltip*/
.dashboard-reports-tooltip {
    position: relative;
    display: inline-block;
}

.dashboard-reports-tooltip-icon {
    font-size: 18px;
}

.dashboard-reports-tooltip:hover .dashboard-reports-tooltip-icon {
    font-weight: bold;
    cursor: pointer;
}

.dashboard-reports-tooltip-box {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    height: auto;
    width: 450px;
    background-color: #555;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 10000;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.dashboard-reports-tooltip-box::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.dashboard-reports-tooltip:hover .dashboard-reports-tooltip-box {
    visibility: visible;
    opacity: 1;
}

.dashboard-reports-tooltip-text {
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 16px;
}

.dashboard-reports-tooltip-sub-text {
    width: 100%;
    color: #fff;
    text-align: justify;
    font-size: 16px;
}

/*Section 1 Reports*/
.dashboard-reports-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dashboard-reports-content {
    display: inline-flex;
    flex-direction: row;
    height: 87px;
    width: auto;
    padding: 10px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.accident-frame {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: #0E267C;
    padding: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 75px;
    width: 170px;
    border-radius: 20px;
}

.accident-frame:hover {
    background: #0A1B57;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.selected-frame {
    background: #040f3a;
}


.accident-icon {
    height: 65px;
    width: 65px;
}

.accident-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    height: auto;
    width: 100%;
}

.accident-content a {
    color: white;
}

.accident-content b {
    color: white;
    font-weight: bold;
}

/*Maps Section*/
.dashboard-maps-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dashboard-maps-content {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

#map {
    display: inline-flex;
    flex-direction: column;
    height: 750px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}

.marker-report-description {
    height: 75px;
    width: auto;
    text-align: justify;
    overflow: hidden;
}

.map-report-button {
    background-color: #0E267C;
    width: 100%;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
}

.map-report-button:hover {
    background-color: #0A1B57;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    /* Slightly transparent background */
    z-index: 2000;
}

.dashboard-controls {
    display: flex;
    /* Use flexbox for layout */
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
}

.toggle-button {
    background-color: #0E267C;
    color: white;
    border: none;
    padding: 5px 15px;
    /* Adjust padding */
    width: 100px;
    /* Set a fixed width */
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    /* Adjust font size */
    text-align: center;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #0A1B57;
}

.map-legends {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    width: auto;
    height: auto;
}

.map-legends-box {
    display: flex;
    flex-direction: column;
    background-color: #0A1B57;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    height: auto;
}

.map-legends-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.map-legends-title {
    display: flex;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    width: 100%;
}

.map-legends img {
    width: auto;
    height: 8em;
    display: block;
}

/*Report Modal*/
.dashboard-reports-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.dashboard-reports-modal-content {
    display: inline-flex;
    flex-direction: column;
    height: 40em;
    width: 50%;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}

.dashboard-reports-modal-content-box {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.dashboard-close-modal-button-box {
    display: flex;
    flex-direction: column;
}

.dashboard-close-modal-button {
    background: none;
    border: none;
    padding: 0;
    width: 1em;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    font-weight: 900;
}

.dashboard-close-modal-button:hover {
    color: gray;
}

.dashboard-close-modal-button:disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}

.dashboard-reports-title-box {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.dashboard-reports-title-box-text {
    font-size: 24px;
    font-weight: 300;
}

.dashboard-reports-details-container {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 5px;
}

.dashboard-reports-details-modal-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dashboard-reports-details-section-box {
    display: inline-flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 5px;
    height: 225px;
    width: 100%;
    overflow-y: auto;
}

.dashboard-reports-text-box {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.dashboard-reports-title-text {
    display: inline-flex;
    flex-direction: column;
    color: #000;
    font-size: 15px;
    padding: 5px;
    font-size: 15px;
    gap: 5px;
    width: 100%;
}

.dashboard-reports-content-text {
    color: #000;
    background-color: #f8f8f8;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: auto;
}

.dashboard-reports-description-box {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 50%;
}

.dashboard-reports-description-area {
    height: 17em;
    max-height: 100%;
    overflow-y: auto;
    width: auto;
    border-radius: 5px;
    border: 2px solid gray;
    padding: 7px;
    overflow-y: scroll;
}

.dashboard-reports-description-area::-webkit-scrollbar {
    width: 12px;
}

.dashboard-reports-description-area::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.dashboard-reports-description-area::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.dashboard-reports-description-area::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 6px;
}

.dashboard-description-title-text {
    font-weight: normal;
}

.dashboard-reports-description-area p {
    margin: 5px 0;
}

.dashboard-reports-image-box {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 18em;
    max-height: 100%;
    width: auto;
    border: 1px solid gray;
    border-radius: 5px;
    gap: 5px;
}

.dashboard-reports-image-box img {
    height: 250px;
    width: 300px;
    border-radius: 5px;
}

.dashboard-update-modal-button-box {
    display: inline-flex;
    flex-direction: row;
    justify-content: right;
    align-items: last baseline;
    gap: 20px;
    padding: 5px;
    height: 100%;
    width: 100%;
}

.dashboard-update-modal-button {
    background-color: #0E267C;
    height: 50px;
    width: 150px;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
}

.dashboard-update-modal-button:hover {
    background-color: #0A1B57;
}

.dashboard-update-modal-button:disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}

.dashboard-deny-modal-button {
    background-color: red;
    height: 50px;
    width: 150px;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
}

.dashboard-deny-modal-button:hover {
    background-color: darkred;
}

.dashboard-deny-modal-button:disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}

/*End of Report Modal*/

/* Deny Modal Overlay */
.dashboard-deny-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    /* Ensure it's on top */
}

/* Deny Modal Content */
.dashboard-deny-modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Title Styling */
.dashboard-deny-modal-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Textarea Styling */
.dashboard-deny-modal-textarea {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    resize: none;
    margin-bottom: 15px;
}

/* Buttons Container */
.dashboard-deny-modal-buttons {
    display: flex;
    justify-content: space-between;
}

/* Cancel Button Styling */
.dashboard-deny-modal-cancel-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-deny-modal-cancel-button:hover {
    background-color: darkred;
}

/* Submit Button Styling */
.dashboard-deny-modal-submit-button {
    background-color: #0E267C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-deny-modal-submit-button:hover {
    background-color: #0A1B57;
}

/* Disable Buttons While Submitting */
.dashboard-deny-modal-cancel-button:disabled,
.dashboard-deny-modal-submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .accident-frame {
        width: 170px;
        ;
        height: auto;
        margin-bottom: 10px;
    }

    .accident-title {
        font-size: 14px;
    }

    #map {
        height: 665.5px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .accident-frame {
        width: 140px;
        height: auto;
        margin-bottom: 10px;
    }

    .accident-title {
        font-size: 14px;
    }

    #map {
        height: 563px;
    }

    .dashboard-reports-image-box img {
        width: 170px;
    }
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .accident-frame {
        width: 100px;
        height: auto;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .accident-title {
        font-size: 11px;
    }

    .accident-icon {
        height: 50px;
        width: 50px;
    }

    #map {
        height: 437.5px;
    }

    /*Report Modal Content*/
    .dashboard-reports-modal-content {
        height: 86%;
        width: 800px;
    }

    .dashboard-reports-title-box-text {
        font-size: 16px;
    }

    .dashboard-reports-title-text {
        font-size: 12px;
    }

    .dashboard-reports-description-area {
        height: 185px;
        font-size: 12px;
    }

    .dashboard-reports-image-box {
        height: 200px;
    }

    .dashboard-reports-image-box img {
        height: 180px;
        width: 250px;
    }

    .dashboard-update-modal-button {
        height: 40px;
        width: 100px;
        font-size: 10px;
    }

    .dashboard-deny-modal-button {
        height: 40px;
        width: 100px;
        font-size: 10px;
    }
}