.donate-container {
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.donate-title-bg {
    background-image: url('../../Assets/homebg.png');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}

.donate-content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.donate-content-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.donate-content-box {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 20px;
    gap: 20px;
}

.donation-title {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}

.donation-description {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.donate-button-container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.donate-download-btn {
    display: inline-block;
    padding: 10px;
    width: 140px;
    font-weight: 600;
    text-align: center;
    background-color: #fff;
    color: #0E267C;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #0E267C;
}

.donate-download-btn:hover {
    background-color: #0A1B57;
    color: #fff;
}

@media (max-width: 768px) {
    .donate-content-container {
        width: 90%;
    }
    .donate-download-btn {
        font-size: 10px;
        width: 100px;
    }
    .donation-title {
        font-size: 18px;
    }
    .donation-description {
        font-size: 12px;
    }
    .donate-download-btn {
        font-size: 8px;
        padding: 10px;
        width: 80px;
    }
}