.barangay-content-box {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.barangay-table-container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    gap: 10px;
    background-color: #f2f2f2;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 20px;
}

/*Request Buttons*/
.request-button-box {
    display: inline-flex;
    flex-direction: row;
    align-self: flex-end;
    padding: 20px;
    gap: 20px;
    height: 100%;
    width: auto;
}

.add-request-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E267C;
    height: 40px;
    width: 150px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.add-request-button:hover {
    background-color: #0A1B57;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5); 
}

/*Requests Table*/
.barangay-table-box {
    display: inline-flex;
    flex-direction: column;
    height: 610px;
}

.barangay-table {
    background-color: #f0f0f0;
    overflow-y: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.barangay-table-title-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.barangay-table-title-box {
    position: relative;
    display: flex;
    align-items: center;
}

.barangay-table-title-text {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    width: auto;
    font-size: 30px;
    font-weight: bold;
}

.barangay-table-description {
    color: gray;
    font-weight: 300;
}

.barangay-table-description:hover {
    color: #000;
    font-weight: 600;
}

.barangay-table-description:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.barangay-filter-box select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.barangay-table th,
.barangay-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    height: 34px;
}

.barangay-table th {
    background-color: #f2f2f2;
}

.barangay-table tr:nth-child(odd) td {
    background-color: #d3d3d3;
}

.action-button-box {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 10px;
}

.barangay-view-requests-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E267C;
    height: 35px;
    width: 75px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.barangay-view-requests-button:hover {
    background-color: #0A1B57;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5); 
}

.delete-requests-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 40px;
    width: 75px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.delete-requests-button:hover {
    background-color: darkred;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5); 
}

/*Request Modal*/
.requests-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.requests-modal-content {
    display: inline-flex;
    flex-direction: column;
    height: 560px;
    width: 850px;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}

.requests-modal-content-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.close-modal-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    font-weight: 900;
}

.close-modal-button:hover {
    color: gray;
}

.requests-title-box {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.requests-title-box-text {
    font-size: 24px;
    font-weight: 300;
}

.requests-details-container {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
}

.requests-details-modal-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.requests-text-box {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.requests-title-text {
    display: inline-flex;
    flex-direction: column;
    color: #000;
    padding: 5px;
    gap: 5px;
    width: 100%;
}

.requests-content-text {
    color: #000;
    border-bottom: 2px solid gray;
    font-weight: bold;
    width: auto;
}

.requests-description-box {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.requests-description-area {
    height: 50px;
    width: auto;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}
/*End of Request Modal*/

/*Modal Tooltip*/
.requests-tooltip {
    position: relative;
    display: inline-block;
}

.requests-tooltip-icon {
    font-size: 18px;
}

.requests-tooltip:hover .requests-tooltip-icon {
    font-weight: bold;
    cursor: pointer;
}

.requests-tooltip-box {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    height: auto;
    width: 450px;
    background-color: #555;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 10000;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.requests-tooltip-box::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #555 transparent; 
}

.requests-tooltip:hover .requests-tooltip-box {
    visibility: visible;
    opacity: 1;
}

.requests-tooltip-text {
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 16px;
}

.requests-tooltip-sub-text {
    width: 100%;
    color: #fff;
    text-align: justify;
    font-size: 16px;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .barangay-table-box {
        height: 529px;
    }
    .barangay-table th,
    .barangay-table td {
        padding: 6px;
        height: 35px;
    }
    .barangay-view-requests-button {
        height: 35px;
        width: 75px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .barangay-table-box {
        height: 427px;
    }
    .barangay-table th,
    .barangay-table td {
        padding: 5px;
        height: 20px;
    }
    .barangay-view-requests-button {
        height: 32px;
        width: 75px;
    }
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .barangay-table-box {
        height: 319px;
    }
    .tooltip-text {
        font-size: 10px;
    }
    .barangay-table th,
    .barangay-table td {
        padding: 3px;
        height: 17px;
        font-size: 12px;
    }
    .barangay-view-requests-button {
        height: 22px;
        width: 55px;
    }
    .requests-modal-content {
        height: 510px;
        width: 850px;
    }
    .requests-title-text {
        font-size: 14px;
    }
}