.report-summary-container {
    height: 450px;
    width: 40%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.report-summary-title-box {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px; /* Space between title and chart */
}

.report-summary-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    color: #333;
}

.report-summary-line-chart-canvas {
    width: 100%;
    height: 100%;
    max-height: 400px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1800px) {
    .report-summary-container {
        height: 400px;
    }
    .report-summary-line-chart-canvas {
        max-height: 350px;
    }
}

@media (max-width: 1600px) {
    .report-summary-container {
        height: 300px;
    }
    .report-summary-line-chart-canvas {
        max-height: 250px;
    }
}

@media (max-width: 1300px) {
    .report-summary-container {
        height: 220px;
        width: 35%;
    }
    .report-summary-title {
        font-size: 16px;
    }
    .report-summary-line-chart-canvas {
        max-height: 200px;
    }
}
