.report-summary-container {
    height: 450px;
    width: 40%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.report-summary-title-box {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.report-summary-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    color: #333;
}

.report-summary-pie-chart-canvas {
    max-height: 420px;
    width: 100%;
}

.report-summary-year-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.report-summary-year-dropdown select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .report-summary-container {
        height: 225px;
        width: 400px;
    }
    .bar-chart-canvas {
        max-height: 215px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .report-summary-container {
        height: 210px;
        width: 305px;
    }
    .bar-chart-canvas {
        max-height: 205px;
    }
}

/* For screen sizes 1800px and below */
@media (max-width: 1300px) {
    .report-summary-container {
        height: 150px;
        width: 250px;
    }
    .bar-chart-canvas {
        max-height: 150px;
    }
    .report-summary-title {
        font-size: 14px;
    }
}
