.response-time-summary-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 450px;
    width: 45%;
}

.response-time-title-box {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.response-time-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    color: #333;
}

.response-time-chart-container {
    width: auto;
    height: 100%;
}

.response-time-chart {
    width: auto;
    height: 100%;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .response-time-summary-container {
        height: 304px;
        width: 400px;
    }
    .response-time-chart-container {
        height: 290px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .response-time-summary-container {
        height: 217px;
        width: 305px;
    }
    .response-time-chart-container {
        height: 180px;
    }
}

/* For screen sizes 1800px and below */
@media (max-width: 1300px) {
    .response-time-summary-container {
        height: 153px;
        width: 250px;
    }
    .response-time-chart-container {
        height: 140px;
    }
    .response-time-title {
        font-size: 14px;
    }
}
