.donations-content-box {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.donations-table-container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    gap: 10px;
    background-color: #f2f2f2;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 20px;
}

/*Resource Table*/
.donations-table-box {
    display: inline-flex;
    flex-direction: column;
    height: 610px;
}

.donations-table-title-box {
    position: relative;
    display: flex;
    align-items: center;
}

.donations-table-title-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.loading-message {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    align-content: center;
    height: 100%;
    animation: fadeInOut 5s infinite;
}

.donations-filter-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    width: 20em;
}

.donations-filter-box select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; color: #0E267C;}
    50% { opacity: 1; color: #0A1B57;}
}

.donations-table-title-text {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    width: auto;
    font-size: 30px;
    font-weight: bold;
}

.donations-table-description {
    color: gray;
    font-weight: 300;
}

.donations-table-description:hover {
    color: #000;
    font-weight: 600;
}

.donations-table-description:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.donations-table {
    background-color: #f0f0f0;
    overflow-y: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.donations-table th,
.donations-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    height: 25px;
}

.donations-table th {
    background-color: #f2f2f2;
}

.donations-table tr:nth-child(odd) td {
    background-color: #d3d3d3;
}

.action-button-box {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 10px;
}

.view-donations-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E267C;
    height: 40px;
    width: 75px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.view-donations-button:hover {
    background-color: #0A1B57;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5); 
}

/*Modal*/
.donations-modal { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.donations-modal-content { 
    display: inline-flex;
    flex-direction: column;
    height: auto;
    max-height: 37em;
    width: 55%;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}

.donations-modal-content-box { 
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.close-modal-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    font-weight: 900;
}

.close-modal-button:hover {
    color: gray;
}

.donations-title-box {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.donations-title-box-text {
    font-size: 24px;
    font-weight: 300;
}

.donations-details-container {
    flex-direction: row;
    height: 100%;
    width: auto;
}

.donations-details-modal-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.donations-form-box {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.donations-division-container {
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
}

.donations-divider-box {
    display: inline-flex;
    flex-direction: column;
    width: 32%;
}

.donations-divider-box-image {
    display: inline-flex;
    flex-direction: column;
    width: 33%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
}

.donations-image-upload-box {
    display: inline-block;
    position: relative;
}

.donations-image-input {
    display: none;
}

.donations-image-upload-box {
    position: relative;
    display: inline-block;
}

.donations-image-input {
    display: none;
}

.donations-image-label {
    display: inline-block;
    padding: 10px 20px 12px 20px;
    border-radius: 50%;
    background-color: #0E267C;
    text-align: center;
    color: white;
    font-size: 24px;
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.donations-image-label:hover {
    background-color: #0A1B57;
    transition: 0.5s;
    opacity: 0.75;
}

.donations-image-preview {
    margin-top: 10px;
    text-align: center;
}

.donations-preview-img {
    max-width: 90%;
    max-height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer; 
}

.image-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

.image-modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.full-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.close-image-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.donations-title-text {
    display: inline-flex;
    flex-direction: column;
    color: #000;
    font-size: 14px;
    padding: 5px;
    gap: 5px;
    width: 100%;
}

.donations-content-text {
    color: #000;
    background-color: #f8f8f8;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: auto;
}

.donations-description-box {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.donations-description-area {
    height: 5em;
    width: auto;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    resize: none;
}

.donations-description-area::placeholder {
    color: red;
    opacity: 0.5;
}

.donation-input-box {
    color: #000;
    border: none;
    padding: 5px;
    font-size: 15px;
    border-bottom: 2px solid gray;
    font-weight: bold;
    width: auto;
}

.donation-select-box {
    color: #000;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    width: auto;
}

.donation-textarea-box {
    height: 50px;
    width: auto;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.update-donation-button-box {
    display: inline-flex;
    flex-direction: row;
    justify-content: right;
    align-items: last baseline;
    padding: 2px;
    gap: 10px;
    height: auto;
    width: 100%;
}

.update-donation-button {
    background-color: #0E267C;
    height: 50px;
    width: 150px;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
}

.update-donation-button:hover {
    background-color: #0A1B57;
}

.update-donation-button.loading {
    background-color: #0A1B57;
    cursor: not-allowed;
    opacity: 0.9;
}

.update-donation-button.delete {
    background-color: red;
}

.update-donation-button.delete:hover {
    background-color: rgb(117, 2, 2);
}

.update-donation-button.loading::after {
    content: '.';
    animation: dots 1s steps(5, end) infinite;
}

/* Animation for the dots */
@keyframes dots {
    0%, 20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .3em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .3em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow:
            .25em 0 0 white,
            .3em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
        text-shadow:
            .25em 0 0 white,
            .3em 0 0 white;
    }
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .donations-table-box {
        height: 529px;
    }
    .donations-table th,
    .donations-table td {
        padding: 4px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .donations-table-box {
        height: 427px;
    }
    .donations-table th,
    .donations-table td {
        padding: 3px;
        height: 20px;
        font-size: 12px;
    }
    .view-donations-button {
        height: 32px;
        width: 75px;
    }
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .donations-table-box {
        height: 319px;
    }
    .donations-table th,
    .donations-table td {
        padding: 2px;
        height: 20px;
        font-size: 10px;
    }
    .view-donations-button {
        height: 22px;
        width: 75px;
    }
    .donations-modal-content {
        max-height: 34em;
        width: 80%
    }
    .donations-content-text {
        padding: 5px;
    }
    .full-image {
        width: 90%;
    }
}

/* Through out heaven and earth I alone am the strongest one... or rather the loneliest of them all. */