.contact-container {
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.contact-title-bg {
    background-image: url('../../Assets/homebg.png');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
}

.contact-content {
    padding: 20px;
    height: 75%;
    width: 20%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
}

.contact-content-info {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.contact-title-text {
    font-size: 28px;
    font-weight: bold;
}

.contact-title-items {
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
}

.contact-item{
    display: inline-flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.contact-item img{
    width: 25px;
    height: 25px;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .contact-content {
        height: 600px;
        width: 400px;
    }
    .contact-title-items {
        gap: 20px;
    }
    .contact-map img{
        width: 400px;
        height: 300px;
    }
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .contact-content {
        height: 500px;
        width: 400px;
    }
    .contact-content-info {
        gap: 25px
    }
    .contact-title-text {
        font-size: 22px;
        font-weight: bold;
    }
    .contact-title-items {
        gap: 10px;
    }
    .contact-map img{
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 768px) {

    .contact-item img{
        width: 20px;
        height: 20px;
    }
    
    .contact-item a{
        font-size: 12px;
    }

    .contact-content {
        width: 80%;
    }
}