.analytics-container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.analytics-content {
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    height: auto;
    width: auto;
}

.analytics-section {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.analytics-navigation-container {
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    height: 75px;
    width: auto;
    background-color: white;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.analytics-navigation-content {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.analytics-navigation-button {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    color: white;
    background-color: #0E267C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.analytics-navigation-button:hover {
    background-color: #0A1B57;
}

.analytics-module-container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}