.admins-content-box {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.admins-table-container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    gap: 10px;
    background-color: #f2f2f2;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 20px;
}

/*Resource Buttons*/
.admins-button-box {
    display: inline-flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    padding: 10px;
    gap: 20px;
    height: 100%;
    width: auto;
}

.add-admins-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E267C;
    height: 40px;
    width: 150px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.add-admins-button:hover {
    background-color: #0A1B57;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5); 
}

.admins-search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    gap: 5px;
}

.admins-search-box {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admins-search-icon {
    width: 20px;
    height: 20px;
}

.admins-search-input {
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
}

/*Resource Table*/
.admins-table-box {
    display: inline-flex;
    flex-direction: column;
    height: 533px;
}

.admins-table-title-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.admins-table-title-box {
    position: relative;
    display: flex;
    align-items: center;
}

.admins-table-title-text {
    display: inline-flex;
    flex-direction: column;
    padding: 12px;
    gap: 10px;
    width: auto;
    font-size: 30px;
    font-weight: bold;
}

.admins-table-description {
    color: gray;
    font-weight: 300;
}

.admins-table-description:hover {
    color: #000;
    font-weight: 600;
}

.admins-table-description:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.admins-filter-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.admins-filter-box select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.admins-table {
    background-color: #f0f0f0;
    overflow-y: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.admins-table th,
.admins-table td {
    padding: 9px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    height: 35px;
}

.admins-table th {
    background-color: #f2f2f2;
}

.admins-table tr:nth-child(odd) td {
    background-color: #d3d3d3;
}

.action-button-box {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 10px;
}

.view-admins-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E267C;
    height: 40px;
    width: 75px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.view-admins-button:hover {
    background-color: #0A1B57;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5); 
}

.delete-admins-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 40px;
    width: 75px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.delete-admins-button:hover {
    background-color: darkred;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5); 
}

/*Admin Modal */
.admin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.admin-modal-content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}

.admin-modal-content-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.close-modal-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    font-weight: 900;
}

.close-modal-button:hover {
    color: gray;
}

.admin-title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.admin-title-box-text {
    font-size: 24px;
    font-weight: 300;
}

.admin-details-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.admin-details-modal-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.admin-content-cont {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.admin-text-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin-label {
    padding: 5px;
    color: #000;
}

.admin-input {
    color: #000;
    background-color: #f8f8f8;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: auto;
}

.contact-input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.contact-prefix {
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-right: 5px;
    
}

.update-admin-modal-button-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.update-admin-modal-button {
    background-color: #0E267C;
    height: 50px;
    width: 150px;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
}

.update-admin-modal-button:hover {
    background-color: #0A1B57;
}

.error-box {
    display: flex;
    flex-direction: column;
    height: 10em;
    width: auto;
    gap: 5px;
}

.error {
    color: red;
    font-size: 16px;
    
}

/* Delete Admin Modal */
.delete-admin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.delete-admin-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
}

.delete-admin-message {
    text-align: justify;
}

.delete-admin-message p {
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.delete-admin-message a {
    color: black;
    text-align: justify;
}

.delete-admin-choice {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
}

.delete-admin-confirm-button {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    border: none;
}

.delete-admin-confirm-button:hover {
    background-color: darkred;
}

.delete-admin-choice-button {
    background: none;
    border: 2px solid gray;
    padding: 10px;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    width: 85px;
    font-weight: bold;
}

.delete-admin-choice-button:hover {
    background-color: gray;
}

.error {
    color: red;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .admins-table-box {
        height: 450px;
    }
    .admins-table th,
    .admins-table td {
        padding: 4px;
        height: 35px;
    }
    .admin-modal-content {
        width: 45%;
    }
    
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .admins-table-box {
        height: 347px;
    }
    .admins-table th,
    .admins-table td {
        padding: 3px;
        height: 28px;
        font-size: 12px;
    }
    .view-admins-button {
        height: 29px;
        width: 75px;
    }
    .delete-admins-button {
        height: 29px;
        width: 75px;
    }
    .admin-modal-content {
        width: 50%;
    }
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .admins-table-box {
        height: 240px;
    }
    .admins-table-title-text {
        font-size: 24px;
    }
    .admins-table th,
    .admins-table td {
        padding: 1px;
        height: 20px;
        font-size: 12px;
    }
    .view-admins-button {
        height: 17px;
        width: 50px;
        font-size: 12px;
    }
    .delete-admins-button {
        height: 17px;
        width: 50px;
        font-size: 12px;
    }
    .admin-modal-content {
        width: 60%;
    }
}