.public-footer{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: #0E267C;
    padding: 20px;
}

.public-footer-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
}

.public-footer-logos{
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 10px;
}

.public-footer-logos img{
    height: 100px;
    width: 100px;
}

.public-footer-socmed{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

.public-footer-socmed img{
    height: 20px;
    width: 20px;
}

.footer-link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 10px;
    text-decoration: none;
}

.footer-link:hover {
    color: #ffffff;
    font-style: normal;
    font-weight: bolder;
    line-height: 150%;
    margin-left: 10px;
}

.public-footer-copyright{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.public-footer-copyright a {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 21px */
    opacity: 0.2;
}
