.navigation-cont {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: #0E267C;
  z-index: 3;
}

.app-title-box {
  display: inline-flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #071138;
}

.app-title-cont {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
}

.app-title-text {
  color: white;
  font-size: 32px;
  font-weight: bolder;
}

.app-sub-text {
  color: white;
  font-size: 12px;
  font-weight: bolder;
}

.admin-nav-cont {
  display: inline-flex;
  flex-direction: column;
  height: auto;
  width: auto;
}

.nav-list {
  display: inline-flex;
  flex-direction: column;
  height: auto;
  width: auto;
}

.module {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.navigation-title-box {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.navigation-title-text {
  padding: 5px;
  color: #ffffff;
  font-weight: 300;
  background-color: #1f3694;
}

.module a {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out
}

.module a.active-link {
  background-color: white;
  font-weight: 600;
  color: #0E267C;
}

.module a:hover {
  background-color: #f0f0f0;
  color: #0E267C;
  font-weight: 600;
  animation: bounceRight 0.2s ease;
}

.module a::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #f0f0f0;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  transition: right 0.2s ease-in-out;
}

.module a:hover::after {
  right: 0; 
  transition: right 0.2s ease-in-out;
}