.desc-reportstats-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.desc-reportstats-title {
    display: flex;
    
    width: 100%;
    margin-bottom: 10px;
}

.desc-reportstats-title-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.desc-reportstats-content-box {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.desc-reportstats-trends-box {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.desc-reportstats-trends-box p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    text-align: justify;
}

.desc-reportstats-error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .desc-reportstats-container {
        height: 400px;
        padding: 20px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .desc-reportstats-container {
        height: 300px;
        padding: 20px;
    }
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .desc-reportstats-container {
        height: 220px;
        padding: 20px;
    }
    .desc-reportstats-title-text {
        font-size: 16px;
    }
    .desc-reportstats-content-box {
        padding: 5px;
    }
    .desc-reportstats-trends-box {
        padding: 10px;
    }
    .desc-reportstats-trends-box p {
        font-size: 12px;
    }
}
