.communities-content-box {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.communities-table-container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    gap: 10px;
    background-color: #f2f2f2;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 20px;
}

/*Requests Table*/
.communities-table-box {
    display: inline-flex;
    flex-direction: column;
    height: 610px;
}

.communities-table-title-box {
    position: relative;
    display: flex;
    align-items: center;
}

.communities-table-title-text {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    width: auto;
    font-size: 30px;
    font-weight: bold;
}

.communities-table-description {
    color: gray;
    font-weight: 300;
}

.communities-table-description:hover {
    color: #000;
    font-weight: 600;
}

.communities-table-description:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.communities-table {
    background-color: #f0f0f0;
    overflow-y: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.communities-table th,
.communities-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    height: 25px;
}

.communities-table th {
    background-color: #f2f2f2;
}

.communities-table tr:nth-child(odd) td {
    background-color: #d3d3d3;
}

.communities-view-requests-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E267C;
    height: 40px;
    width: 75px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.communities-view-requests-button:hover {
    background-color: #0A1B57;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5); 
}

/* Community Modal */
.community-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.community-modal-content {
    display: inline-flex;
    flex-direction: column;
    height: 500px;
    width: 850px;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}

.community-modal-content-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.close-modal-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    font-weight: 900;
}

.close-modal-button:hover {
    color: gray;
}

.community-title-box h2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: 300;
}

.community-details-container {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
}

.community-details-modal-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.community-text-box {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.community-title-text {
    display: inline-flex;
    flex-direction: column;
    color: #000;
    padding: 5px;
    gap: 10px;
    width: 100%;
}

.community-content-text {
    color: #000;
    border-bottom: 2px solid gray;
    font-weight: bold;
    width: auto;
}

.community-description-box {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.community-description-area {
    height: 50px;
    width: auto;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

/*End of Community Modal*/

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .communities-table-box {
        height: 529px;
    }
    .communities-table th,
    .communities-table td {
        padding: 4px;
        height: 25px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .communities-table-box {
        height: 427px;
    }
    .communities-table th,
    .communities-table td {
        padding: 2px;
        height: 20px;
    }
    .communities-view-requests-button {
        height: 34px;
        width: 75px;
    }
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .communities-table-box {
        height: 319px;
    }
    .communities-table th,
    .communities-table td {
        padding: 2px;
        height: 15px;
        font-size: 12px;
    }
    .communities-view-requests-button {
        height: 22px;
        width: 75px;
        font-size: 12px;
    }
}