.public-app-cont {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.public-module-cont{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #D9D9D9;
}