.login-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    height: 100vh;
    width: 100vw;
}

.login-box {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
    background-color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.login-left-container,
.login-right-container {
    display: inline-flex;
    flex-direction: column;
    height: 80vh;
    width: 35vw;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

/*Section 1 Left Side*/
.login-title-box {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.login-title-text {
    color: #0E267C;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.login-title-text:hover {
    text-decoration: underline;
}

.login-title-acronym {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*Section 2 Right Side*/
.login-content-box {
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    width: auto;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.login-logo-box {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 50px;
}

.login-message-box {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.login-message-box a {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.login-textfield-box {
    display: inline-flex;
    flex-direction: row;
    width: 595px;
    background-color: #F3F3F6;
    border-radius: 8px;
    padding: 10px;
    gap: 5px;
}

.login-textfield-input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.login-button-box {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.login-forgot-button-box {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    justify-content: last baseline;
    align-items: last baseline;
}

.login-button {
    display: inline-block;
    width: auto;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: #0E267C;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    cursor: pointer;
}

.show-password:hover {
    filter: brightness(0.2);
}

.login-button:hover {
    background-color: #0A1B57;
}

.login-button.loading {
    cursor: not-allowed;
    opacity: 0.6;
    position: relative;
}

.login-button.loading::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.login-error-box {
    position: absolute;
    bottom: 40px;
    background-color: rgb(255, 109, 109);
    border: 1px solid red;
    border-radius: 5px;
    height: auto;
    width: 98%;
    opacity: 0;
    padding: 5px;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.3s ease-in-out;
    visibility: hidden;
    z-index: 1000;
}

.login-error-box.show {
    opacity: 1;
    transform: scale(1);
    animation: popIn 0.3s ease forwards;
    visibility: visible;
}

.login-error-box label {
    padding: 5px;
    color: white;
}

.login-back {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.login-back-button {
    text-decoration: none;
    transition: all 0.1s ease-in;
    text-align: center;
    font-size: 16px;
}

.login-back-button:hover {
    border: 2px solid #0E267C;
    border-radius: 5px;
    font-weight: bolder;
    color: #0E267C;
    padding-right: 1em;
    padding-left: 5px;
}

.login-forgot-button {
    width: 10em;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color: red;
    background: none;
    text-decoration: none;
    transition: 0.5s ease-in;
}

.login-forgot-button:hover {
    border: 1px solid red;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.5s ease-out;
}


/*Terms and Conditions*/
.terms-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.terms-modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 70%;
    width: 35%;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: popIn 0.3s ease-out;
}

@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.terms-text-container {
    display: flex;
    flex-direction: column;
    height: 30em;
    padding: 10px;
    overflow-y: auto;
    text-align: justify;
    border-radius: 20px 0 0 20px;
    background-color: lightgray;
}

/* Scrollbar styles */
.terms-text-container::-webkit-scrollbar {
    width: 10px;
    /* Adjust scrollbar width */
}

.terms-text-container::-webkit-scrollbar-track {
    background-color: lightgray;
    /* Same as the container background */
    border-radius: 20px;
    /* Optional: matches container border radius */
}

.terms-text-container::-webkit-scrollbar-thumb {
    background-color: darkgray;
    /* Scrollbar color */
    border-radius: 10px;
    /* Rounded scrollbar */
}

.terms-title {
    text-align: center;
}

.terms-alert-text {
    font-size: 14px;
    font-weight: 600;
    width: 98%;
    text-align: justify;
}

.terms-agree {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid #0E267C;
    border-radius: 5px;
}

.terms-checkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #0E267C;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.terms-checkbox:checked {
    background-color: #0A1B57;
    border-color: #0E267C;
}

.terms-agree-msg {
    font-size: 14px;
}

.terms-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.terms-home {
    text-decoration: none;
    padding: 6px 30px;
    border-radius: 5px;
    color: #0E267C;
    font-size: 12px;
    border: 2px solid #0E267C;
    transition: 0.2s ease-in;
}

.terms-home:hover {
    background-color: #0A1B57;
    color: white;
}

.terms-button {
    padding: 10px 20px;
    background-color: #0E267C;
    width: 11em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.terms-button:hover {
    background-color: #0A1B57;
}

/*Forgot Password Modal*/
.login-forgot-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
}

.login-forgot-modal {
    background-color: white;
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-forgot-modal-content {
    display: flex;
    flex-direction: column;
}

.login-forgot-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.login-forgot-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-forgot-modal-button {
    width: 100%;
    padding: 10px;
    background-color: #0E267C;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-forgot-modal-button:hover {
    background-color: #0A1B57;
}

.login-forgot-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.login-forgot-close-button-box {
    display: flex;
    flex-direction: row;
}

.login-forgot-close-button {
    flex-direction: row;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-forgot-close-button:hover {
    background-color: gray;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {

    .wave-top svg,
    .wave-bottom svg {
        width: 100%;
        height: auto;
    }

    .login-title-text {
        font-size: 70px;
    }

    .login-title-acronym {
        font-size: 22px;
    }

    /*Section 2 Right Side*/
    .login-icons {
        height: 150px;
        width: 150px;
    }

    .login-textfield-box {
        width: 535px;
    }

}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {

    .wave-top svg,
    .wave-bottom svg {
        width: 100%;
        height: auto;
    }

    .login-title-box {
        gap: 10px;
    }

    .login-title-text {
        font-size: 60px;
    }

    .login-title-acronym {
        font-size: 20px;
    }

    /*Section 2 Right Side*/
    .login-icons {
        height: 120px;
        width: 120px;
    }

    .login-textfield-box {
        width: 465px;
    }

    .login-message-box a {
        font-size: 14px;
    }

    .login-terms p {
        font-size: 14px;
    }

    .login-error-box {
        width: 98%;
    }
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {

    .wave-top svg,
    .wave-bottom svg {
        width: 100%;
        height: auto;
    }

    .login-title-box {
        gap: 5px;
    }

    .login-title-text {
        font-size: 50px;
    }

    .login-title-acronym {
        font-size: 16px;
    }

    /*Section 2 Right Side*/
    .login-content-box {
        gap: 70px;
    }

    .login-message-box a {
        font-size: 12px;
    }

    .login-icons {
        height: 100px;
        width: 100px;
    }

    .login-textfield-box {
        width: 365px;
    }

    .login-button {
        height: 40px;
        width: 385px;
        padding: 5px;
    }

    .login-terms p {
        font-size: 10px;
    }

    .login-error-box label {

        padding: 5px;
    }

    .login-error-box {
        width: 94%;
    }
}