.personal-content-box {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.personal-table-container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    gap: 10px;
    background-color: #f2f2f2;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 20px;
}

/*Request Buttons*/
.request-button-box {
    display: inline-flex;
    flex-direction: row;
    align-self: flex-end;
    padding: 20px;
    gap: 20px;
    height: 100%;
    width: auto;
}

.add-request-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E267C;
    height: 40px;
    width: 150px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.add-request-button:hover {
    background-color: #0A1B57;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

/*Requests Table*/
.personal-table-box {
    display: inline-flex;
    flex-direction: column;
    height: 530px;
}

.personal-table-title-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.personal-table-title-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.personal-table-title-text {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    width: auto;
    font-size: 30px;
    font-weight: bold;
}

.personal-table-description {
    color: gray;
    font-weight: 300;
}

.personal-table-description:hover {
    color: #000;
    font-weight: 600;
}

.personal-table-description:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.personal-filter-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    width: 20em;
}

.personal-filter-box select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.personal-table {
    background-color: #f0f0f0;
    overflow-y: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.personal-table th,
.personal-table td {
    padding: 9px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    height: 30px;
}

.personal-table th {
    background-color: #f2f2f2;
}

.personal-table tr:nth-child(odd) td {
    background-color: #d3d3d3;
}

.action-button-box {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 10px;
}

.personal-view-requests-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E267C;
    height: 42px;
    width: 75px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.personal-view-requests-button:hover {
    background-color: #0A1B57;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.personal-delete-requests-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 40px;
    width: 75px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.personal-delete-requests-button:hover {
    background-color: darkred;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5); 
}

/*Modal*/
.request-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.request-modal-content {
    display: inline-flex;
    flex-direction: column;
    height: 600px;
    width: 850px;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}

.request-modal-content-box {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.close-modal-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    font-weight: 900;
}

.close-modal-button:hover {
    color: gray;
}

.request-title-box {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.request-title-box-text {
    font-size: 24px;
    font-weight: 300;
}

.request-details-container {
    display: inline-flex;
    flex-direction: row;
    height: auto;
    width: auto;
}

.request-details-modal-box {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.request-content-cont {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.request-text-box {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.request-title-text {
    display: inline-flex;
    flex-direction: column;
    color: #000;
    padding: 5px;
    gap: 5px;
    width: 100%;
}

.request-content-text {
    color: #aeaeae;
    background-color: #f8f8f8;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: auto;
}

.request-label {
    padding: 5px;
    color: #000;
}

.request-input {
    color: #000;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: auto;
    text-align: left;
    font-size: 16px;
    border-bottom: 2px solid gray;
    outline: none;
    font-weight: bold;
    width: auto;
}

.request-description-box {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.request-description-area {
    height: 100px;
    width: auto;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.request-description-hint-text {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.update-modal-button-box {
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.update-modal-button {
    background-color: #0E267C;
    height: 50px;
    width: 150px;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
}

.personal-update-modal-button:hover {
    background-color: #0A1B57;
}

/*Delete Request*/
.delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.delete-content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 175px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
}

.delete-message {
    text-align: justify;
}

.delete-message p {
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.delete-message a {
    color: black;
    text-align: justify;
}

.delete-choice {
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: right;
}

.delete-confirm-button {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    width: 75px;
    text-align: center;
    border: none;
}

.delete-confirm-button:hover {
    background-color: darkred;
}

.delete-choice-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: black;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 85px;
    font-weight: bolder;
}

.delete-choice-button:hover {
    background-color: gray;
}

.personal-error-text-box {
    color: red;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

/* Media Queries for Responsiveness */
/* For screen sizes 1800px and below */
@media (max-width: 1800px) {
    .personal-table-box {
        height: 449px;
    }
    .personal-table th,
    .personal-table td {
        padding: 5px;
        height: 35px;
    }
    .personal-view-requests-button {
        height: 39px;
        width: 75px;
    }
    .personal-delete-requests-button {
        height: 39px;
        width: 75px;
    }
}

/* For screen sizes 1600px and below */
@media (max-width: 1600px) {
    .personal-table-box {
        height: 347px;
    }
    .personal-table th,
    .personal-table td {
        padding: 3px;
        height: 25px;
    }
    .personal-view-requests-button {
        height: 31px;
        width: 75px;
    }
    .personal-delete-requests-button {
        height: 31px;
        width: 75px;
    }
    
}

/* For screen sizes 1300px and below */
@media (max-width: 1300px) {
    .personal-table-box {
        height: 239px;
    }
    .personal-table-box h2{
        font-size: 18px;
    }
    .personal-table th,
    .personal-table td {
        padding: 2px;
        height: 15px;
        font-size: 12px;
    }
    .personal-view-requests-button {
        height: 19px;
        width: 55px;
    }
    .personal-delete-requests-button {
        height: 19px;
        width: 55px;
    }
    .request-modal-content {
        height: 510px;
        width: 850px;
    }
    .request-text-box {
        font-size: 12px;
    }
    .request-input {
        font-size: 9px;
    }
    .update-modal-button {
        height: 30px;
        width: 100px;
        font-size: 10px;
        padding: 2px;
    }
    .personal-error-text-box {
        font-size: 10px;
    }
}