.history-maps-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.history-maps-content {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#history-map {
    display: inline-flex;
    flex-direction: column;
    height: 744px;
    width: 100%;
    z-index: 1;
}

.generate-report-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0E267C;
    height: 40px;
    width: 150px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.generate-report-button:hover {
    background-color: #0A1B57;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5); 
}

.generate-report-print {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}