.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: grab;
}

.about-title-bg {
    background-color: #091647;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    height: 60vh;
}

.about-content {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
    background-color: white;
    align-items: left;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
}

.about-title {
    font-size: 28px;
    font-weight: bold;
    align-self: center;
}

.about-heading {
    font-size: 24px;
    font-weight: bold;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-text {
    font-size: 16px;
    text-align: justify;
}

.about-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    align-self: center;
    transition: opacity 0.5s ease-in-out;
    overflow-y: auto;
}

.about-section-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.about-image-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
}

/* Image styling */
.section-image {
    width: auto;
    height: 50%;
}

/* Left and Right Arrow Buttons */
.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5em;
    color: #091647;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.left-arrow {
    left: 20px;
}

.left-arrow:hover {
    font-size: 3.5em;
}

.right-arrow {
    right: 20px;
}

.right-arrow:hover {
    font-size: 3.5em;
}

.arrow-button:hover {
    color: #0c1f64;
}

/* Slide Indicators */
.slide-indicators {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-self: center;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #0c1f64;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-content {
        width: 90%;
    }

    .about-title {
        font-size: 24px;
    }

    .about-heading {
        font-size: 20px;
    }

    .about-text {
        font-size: 12px;
    }

    .arrow-button {
        font-size: 2em;
    }
    .about-section-container {
        flex-direction: column;
    }
    .section-image {
        width: 100%;
        height: 100%;
    }
}